---
import MainLayout from "../layouts/MainLayout.astro";
import Test from "../components/Test.astro";
import Button from '../components/Button.astro';
import Card from '../components/Card.astro';
---

<MainLayout title="Titel">
  <div class="flex justify-end">
				<Button variant="primary" size="small">Til betaling</Button>
        	</div>
        <div class="flex justify-end">
				<Card variant="" size=""> </Card>
		
			</div>
  <Test />
</MainLayout>
