---
import { Image } from "astro:assets";
import Herounit from "../assets/images/herounit.svg";
---

<article>
  <Image src={Herounit} alt="Herounit" class="md:w-full h-full" />
  <h1 class="font-special text-h1special">Dansestudiet</h1>
  <h2 class="font-special text-h2special">Oplev glæden ved dans</h2>
</article>
